@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600&display=swap');

html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Space Grotesk';
  background-color: #101010;
}

.main {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  gap: 20px;
}

.chart,
.search {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 85vw;
}

.search {
  /* background-color: yellow; */
  margin-top: 420px;
}

.chart {
  margin-top: 10px;
  position: fixed;
  /* background-color: aliceblue; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* height: 100vh; */
  z-index: 10;
}

.chart-title {
  margin-top:20px;
  margin-left: 10px;
  color: white;
  z-index: 10;
  font-size: 12px;
}

.chart-real {
  backdrop-filter: blur(20px);
  background-color: #181a1c7e;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  border: 2px solid #2e3032;
  height: 300px;
  border-radius: 14px;
  z-index: 10;
}

input {
  text-decoration: none;
  outline: none;
  font-family: 'Space Grotesk';
  background-color: #1e1e1e00;
  font-size: 19px;
  padding: 14px;
  border-radius: 14px;
  border: 2px solid #2e3032;
  color: white;
}

.search-real {
  /* background-color: pink; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.currencies {
  /* background-color: aquamarine; */
  width: 100%;
  height: 100%;
  /* background-color: pink; */
  z-index: 0;
}

.modal-search {
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 100px;
  /* align-items: center; */
  gap: 10px;
  width: 100%;
  height: fit-content;
  /* overflow: auto; */
  /* background-color: blue; */
  transition: .2s all;
  /* mask-image: linear-gradient(to bottom, transparent 0%, black 28px, black calc(100% - 28px), transparent 100%); */
}

.currency {
  background-color: #181A1C;
  padding: 10px;
  color: white;
  border-radius: 14px;
  border: 2px solid #2e3032;
  transition: .2s all;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100px;
  font-weight: 800;
}

.currency:hover {
  background-color: #353434;
  cursor: pointer;
}

.blob {

  background-color: blue;
  width: 200px;
  height: 100px;
  position: absolute;
  top: 1;
  margin: 30px;
  z-index: 0;
}

.alert {
  visibility: hidden;
  z-index: 15;
  position: absolute;
  background-color: #181a1c84;
  top: 0;
  width: 200px;
  border-radius: 14px;
  margin-top: 20px;
  margin-right: 20px;
  border: 2px solid #2e3032;
  left: 1;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(115, 115, 115);
  backdrop-filter: blur(50px);
}